/* body{
    background-color: aquamarine;
    opacity: 0.1;
} */

body{
    background-image: url("../images/cool-background.svg");
    margin: 0%;
    padding: 0%;
    margin-left: 0px;
    margin-right: 0px;
    background-size: cover;
    opacity: 100%;
}

header{
    margin-top: 2px;
    width: 100%;
    height: 90px;
    /* background-image: url("../images/sun-tornado.svg"); */
    display: flex;
    color: red;
    font-size: 28px;
    align-items: center;
    justify-content: space-between;
    padding-right: 20%;
}
